/* ================================= 
  Basic Styles - Mobile
==================================== */
* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    background-color: #6305ad;
    margin: 0;
}

header,
nav {
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
    color: #fff;
    padding-top: 1rem;
 }

li {

}

a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: .85rem;
    width: 94%;
    color: #373737;
    margin: 0;
 }

 /* ================================= 
  Header Styles - Mobile
==================================== */

header li {
    font-size: .90rem;
    text-align: center;
    background-color: #fff;
    margin: 5px auto;
    padding: 10px;
    width: 90%;
}

header a {
    color: #6305ad;
}

header p {
    color: #fff;
}