/* ================================= 
  Basic Styles - Mobile
==================================== */
* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    color: #373737;
    margin: 0;
    background-color: #fafafa;
}

header,
nav, {
    display: flex;
    flex-direction: column;
}


main {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-align: center;
    color: #444;
    font-size: 1.5rem;
    padding-top: 10px;
 }

 h3 {
     font-family: 'Raleway', sans-serif;
     font-weight: 500;
     font-size: 1.1rem;
     padding: 0;
     margin-top: 15px;
 }

 h5 {
     font-family: 'Montserrat', sans-serif;
     text-transform: uppercase;
     padding-top: 20px;
 }

 p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: .90rem;
    width: 90%;
    padding-bottom: 1rem;
    margin: 10px 0;
    color: gray;
 }

li {
    background-color: #fff;
    margin: 5px auto;
    text-align: center;
    padding: 10px;
    font-size: .90rem;
    width: 90%;
}

a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #4a4a4a;
    text-transform: uppercase;
}

img {
    width: 100%;
    border: none;
}

footer {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #fafafa;
}
/* ================================= 
  Header Styles - Mobile
==================================== */
.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto;
}

.intro img {
    width: 70%;
}
/* ================================= 
  Portfolio/Main Styles - Mobile
==================================== */

.portfolio,
.project {
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.portfolio {
    background-color: #fff;
}
.project {
    text-align: center;
    width: 100%;
    flex-grow: 1;
}

/* ================================= 
  Contact Section Styles - Mobile
==================================== */

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fafafa;
    text-align: center;
    padding-top: 1rem;
}
#no-ex-space {
    padding-bottom: 0;
}

#ex-space {
    padding-bottom: 3rem;
}

.border {
    border-top: 1px solid lightgray;
    width: 90%;
}

/* ================================= 
  Footer Styles - Mobile
==================================== */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    padding: 0 10px;
    margin: .75rem auto;
}

.bot-tab-link {
    display: none;
}

/* ================================= 
  Basic Styles - Tablet (768px)
==================================== */

@media (min-width: 767px) {

    h1 {
        font-size: 2rem;
    }
    
    #contact {
        display: none;
    }

    nav ul {
        display: flex;
        width: 50%;
        margin: auto;
    }

    nav li {
        background-color: #fafafa; 
    }

    .intro {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        width: 90%;
        margin: 2rem auto;
    }

    .intro img {
        order: 2;
        width: 45%;
    }

    .intro p {
        font-size: 1rem;
        text-align: left;
        width: 55%;

    }

    .portfolio {

    }

    .portfolio h5 {
        width: 100%;
    }

    .project {
        flex-direction: row;
        justify-content: center;
        flex-flow: wrap;
        flex-basis: 40%;
        margin: auto .4em;
    }

    .project h3 {
        width: 100%;
    }

    .project p {
        width: 75%;
    }

    .footer {
        width: 95%;
        margin: auto;
    }

    .bot-mob-link {
        display: none;
    }

    .bot-tab-link {
        display: flex;
    }

    footer ul {
        display: flex;
        justify-content: space-between;

    }

    footer li {
        margin: 0;
        padding: 0;
    }




}