/* ================================= 
  Basic Styles - Mobile
==================================== */
* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    color: #373737;
    margin: 0;
    background-color: #fafafa;
}

header,
nav, {
    display: flex;
    flex-direction: column;
}

header {
    
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
}
h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-align: center;
    color: #444;
    font-size: 1.5rem;
    padding-top: 10px;
 }

 h3 {
     font-family: 'Raleway', sans-serif;
     font-weight: 500;
     font-size: 1.1rem;
     padding: 0;
     margin-top: 15px;
 }

 h5 {
     font-family: 'Montserrat', sans-serif;
     text-transform: uppercase;
     padding-top: 20px;
 }

 p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: .90rem;
    width: 90%;
    padding-bottom: 1rem;
    margin: 10px 0;

 }

li {
    background-color: #fff;
    margin: 5px auto;
    width: 90%;
    text-align: center;
    padding: 10px;
    font-size: .90rem;
}

a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #4a4a4a;
    text-transform: uppercase;
}

img {
    width: 100%;
    border: none;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #fafafa;
    border-top: 1px solid #373737;
    padding: 0 10px;
}

/* ================================= 
  Class Styles - Mobile
==================================== */

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto;
}

.intro img {
    width: 70%;
}

.portfolio,
.project {
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.portfolio {
    background-color: #fff;
}
.project {
    text-align: center;
    width: 100%;
    flex-grow: 1;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fafafa;
}


